<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" routerLink="/" routerLinkActive="active">APP</a>

        <div class="collapse navbar-collapse" id="navbarsExample03">
            <ul class="navbar-nav mr-auto">
                <ng-container>
                    <li class="nav-item ">
                        <a class="nav-link" routerLink="/members" routerLinkActive="active">Matches</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/lists" routerLinkActive="active">Lists</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/messages" routerLinkActive="active">Messages</a>
                    </li>
                    <li *appHasRole='["Admin", "Moderator"]' class="nav-item">
                        <a class="nav-link" routerLink="/admin" routerLinkActive="active">Admin</a>
                    </li>
                </ng-container>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/errors" routerLinkActive="active">Errors</a>
                </li>
            </ul>
            <form *ngIf="(accountService.currentUser$ | async) ===null" #loginForm="ngForm"
                class="form-inline mt-2 mt-md-0" (ngSubmit)="login()" autocomplete="off">
                <input name="userName" [(ngModel)]="model.userName" class="form-control mr-sm-2" type="text"
                    placeholder="Username">
                <input name="password" [(ngModel)]="model.password" class="form-control mr-sm-2" type="password"
                    placeholder="Password">
                <button class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
        </form>
            <ul class="navbar-nav mr-auto" *ngIf="(accountService.currentUser$ | async) as user">
                <img src="{{user.photoUrl||'./assets/user.png'}}" alt="{{user.userName}}">
                <li class="nav-item dropdown" >
                    <a class="nav-link dropdown-toggle text-light mt-2" href="#" id="dropdown03" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Welcome {{user.knownAs || user.userName | titlecase}}</a>
                    <div class="dropdown-menu mt-3" aria-labelledby="dropdown03">
                        <a routerLink="/member/edit" class="dropdown-item" href="#">Edit Profile</a>
                        <a class="dropdown-item" href="#" (click)="logout()">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>